@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Survi's Website</h1>
    <p>To learn about <a href="https://bcrec.ac.in/">DR. B. C. ROY ENGINEERING COLLEGE, DURGAPUR </a>please click here.</p>
</div>